<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap rescap">
  <Identity Name="FanLaoshi.UWPCloudPlayer" Publisher="CN=FanLaoshi" Version="1.0.0.0" />
  <Properties>
    <DisplayName>樊老师网课播放器</DisplayName>
    <PublisherDisplayName>樊老师</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19045.0" />
  </Dependencies>
  <Resources>
    <Resource Language="zh-CN" />
  </Resources>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <rescap:Capability Name="broadFileSystemAccess" />
  </Capabilities>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UWPCloudPlayer.App">
      <uap:VisualElements AppListEntry="none" DisplayName="樊老师网课播放器" Description="网课视频播放器" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Square71x71Logo="Assets\Square71x71Logo.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>
